@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap'); 

html, body {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    background-color: #171B21;
}

.global-container {
    display: flex;
    flex-direction: column;
    background-color: #171B21;
}

/* NAVBAR */
.nav-container {
    width: 100vw;
    height: 10vh;
    background-color: #36383B;
}

.view-container {
    width: 100vw;
    height: 89vh;
    display: flex;
    flex-direction: row;
} 

.sidebar {
    height: 100%;
    width: 25vw;
    background-color: #36383B;
    border-top: 3px solid #171B21;
}
.title-text {
    font-family: 'Poppins', sans-serif;
    font-size: 27px;
    letter-spacing: 4px;
    color: white;
}
.fa-icon {
    font-size: 30px;
    padding-top: 3px;
    color: white;
    margin-right: 20px;
}
.nav-div {
    padding: 20px;
}

.visualizer {
    height: 100%;
    width: 75vw;
}